* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p,a {font-family: "Verdana";}
h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
    background-image: url('../img/header.png');
    min-height: 660px;
}
.header_top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 80px;
    background-color: rgba(100, 196, 199, 0.702);
}
.header_top-logo {
    display: flex;
    align-items: center;
}
.header_top-logo p {
    font-size: 20px;
    font-family: "Verdana";
    margin-left: 11px;
    color: rgb(254, 254, 254);
    line-height: 1.2;
}

ul.menu {
    display: flex;
    flex-wrap: wrap;
}
ul.menu li {
    list-style: none;
}
ul.menu li a {
    font-size: 16px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
}


.header_top-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header_top-info p {
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
}
.header_top-info a {
    color: #fff;
    font-size: 16px;
    transition: 0.2s;
    line-height: 1.2;
}
.header_top-info a:hover {
  text-decoration: none;
  transition: 0.2s;
}
.info_tel {
  margin-bottom: 5px;
  text-decoration: none;
}

.header_form {
    display: flex;
    height: 88%;
    width: 100%;
    margin-top: 50px;
    align-items: center;
    justify-content: flex-start;
}

.comp_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 260px;
}
.comp_block-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 220px;
}
.comp_block-box {
    position: relative;
    width: 189px;
    height: 60px;
    background-color: rgba(100, 196, 199, 0.2);
    box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 20%);
}
.comp_block-box span {
    position: absolute;
    font-size: 70px;
    font-family: "Verdana";
    color: rgb(65, 65, 65);
    font-weight: bold;
    line-height: 1.2;
    left: 0;
    top: -40px;
}
.comp_block-item p {
    text-align: center;
    margin-top: 24px;
    font-size: 16px;
    font-family: "Verdana";
    color: rgb(0, 0, 0);
    line-height: 1.2;
}

.prem_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/prem_block.png);
    min-height: 410px;
}
h2.prem_block-head {
    color: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 55px;
    z-index: 1;
}
h2.prem_block-head:before {
  background-color: rgb(250, 191, 120);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 225px;
  height: 40px;
  content: "";
  z-index: -1;
  top: 5px;
  left: 3px;
}
.prem_block-item_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.prem_block-item {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    margin: 10px 15px;
}
.prem_block-item p {
    text-align: center;
    margin-top: 10px;
}

.expert_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 496px;
}
h2.expert_block-head {
    position: relative;
    color: rgb(65, 65, 65);
    margin-bottom: 55px;
    z-index: 1;
}
h2.expert_block-head:before {
  background-color: rgb(163, 129, 189);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 158px;
  height: 40px;
  content: "";
  z-index: -1;
  top: 5px;
  left: 3px;
}
.expert_block-item_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.expert_block-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url(../img/expert.png);
    margin: 10px auto;
    height: 272px;
    width: 262px;
}
.expert_block-item_head {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(100, 196, 199);
    padding: 1px 10px;
}
.expert_block-item_head p {
    font-size: 13px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    line-height: 1.308;
}
.expert_block-item .btn {
    position: absolute;
    bottom: -13px;
    cursor: pointer;
    width: 201px;
    height: 32px;
    text-align: center;
    background-color: rgb(250, 191, 120);
    box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 20%);
    padding: 6px;
    font-size: 14px;
    font-family: "Verdana";
    color: rgb(255, 254, 254);
    text-transform: uppercase;
    line-height: 1.371;
}

.consultation_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 240px;
    background-color: rgb(244, 242, 242);
}
h2.consultation_block-head {
    color: rgb(32, 32, 32);
    position: relative;
    z-index: 1;
}

h2.consultation_block-head:before {
    background-color: rgb(100, 196, 199);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 47%;
    height: 40px;
    content: "";
    z-index: -1;
    top: 5px;
    left: 3px;
}

.problem_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 455px;
}
h2.problem_block-head {
    color: rgb(65, 65, 65);
    position: relative;
}
h2.problem_block-head:before {
  background-color: rgb(163, 129, 189);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 61%;
  height: 40px;
  content: "";
  z-index: -1;
  top: 5px;
  left: 3px;
}
.problem_block-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.problem_block-body img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    margin: 20px;
}

ul.problem_block-ul {

    font-family: "Ubuntu";
    line-height: 1.2;
    margin: 20px;
}
ul.problem_block-ul li {
    margin: 10px auto;
    font-size: 25px;
}

ul.problem_block-ul li:nth-child(1) {
    color: rgb(100, 196, 199);
}
ul.problem_block-ul li:nth-child(2) {
    color: rgb(250, 191, 120);
}
ul.problem_block-ul li:nth-child(3) {
    color: rgb(163, 129, 189);
}
ul.problem_block-ul li:nth-child(4) {
    color: rgb(187, 221, 140);
}
ul.problem_block-ul li:nth-child(5) {
    color: rgb(100, 196, 199);
}

.problem_block-ul span {
    font-size: 20px!important;
    color: rgb(65, 65, 65)!important;
}

.how_work_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 325px;
    background-color: rgb(246, 244, 244);
}
h2.how_work_block-head {
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 1;
}
h2.how_work_block-head:before {
  background-color: rgb(100, 196, 199);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 256px;
  height: 40px;
  content: "";
  z-index: -1;
  top: 5px;
  left: 3px;
}
.how_work_block-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.how_work_block-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 215px;
    position: relative;
}

.how_work_block-item:not(:last-child)::after {
    content: "";
    position: absolute;
    background: url(../img/arrow.png);
    width: 38px;
    height: 32px;
    top: 30%;
    transform: translate(400%, -50%);
}

.how_work_block-item p {
  font-size: 16px;
  font-family: "Verdana";
  color: rgb(65, 65, 65);
  line-height: 1.2;
  text-align: center;
  margin-top: 17px;
}


.review_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url('../img/reviewbg.png');
    min-height: 504px;
}
h2.review_block-head {
    color: rgb(255, 255, 255);
}
.review_block-body {
    width: 90%;
}

.responsive_review-item {
    align-items: center;
    flex-direction: column;
}
.responsive_review-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 10px;
}
.responsive_review-item h4 {
    font-size: 16px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
}
.responsive_review-item p {
    font-size: 14px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    width: 200px;
    margin: 10px auto;
}
.responsive_review-item a {
    font-size: 14px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    text-decoration: underline;
    line-height: 1.2;
}

.partners_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 170px;
}
.partners_block-item img {
    width: 190px;
    height: 90px;
    object-fit: cover;
}

.our_work_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 457px;
    background-image: url('../img/our_work_bg.png');
}
h2.our_work_block-head {
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
}
h2.our_work_block-head:before {
  background-color: rgb(250, 191, 120);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 162px;
  height: 40px;
  content: "";
  z-index: -1;
  top: 5px;
  left: 3px;
}
.responsive_our_work_block {
    width: 90%;
    padding: 0 20px;
}

.responsive_our_work_block img {
  margin: 0 auto;
  width: 270px;
  height: 170px;
  object-fit: cover;
}

.ask_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 240px;
    background-color: rgb(244, 242, 242);
}
h2.ask_block-head {
    color: rgb(32, 32, 32);
    position: relative;
    z-index: 1;
}

h2.ask_block-head:before {
  background-color: rgb(100, 196, 199);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 60%;
    height: 40px;
    content: "";
    z-index: -1;
    top: 5px;
    left: 3px;
}

.company_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 510px;
}
h2.company_block-head {
    color: rgb(65, 65, 65);
    position: relative;
    z-index: 1;
}
h2.company_block-head:before {
  background-color: rgb(163, 129, 189);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 179px;
  height: 40px;
  content: "";
  z-index: -1;
  top: 5px;
  left: 3px;
}
.company_block-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.company_block-img {
    width: 280px;
    margin: 0 30px;
}
.company_block-p {
    width: 60%;
}
.company_block-p p {
    font-size: 14px;
    font-family: "Verdana";
    color: rgb(0, 0, 0);
    margin: 10px auto;
    line-height: 1.2;
}

.certificates_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 562px;
  background-color: rgb(248, 248, 248);
}
h2.certificates_block-head {
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 1;
}
h2.certificates_block-head:before {
  background-color: rgb(100, 196, 199);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 260px;
  height: 40px;
  content: "";
  z-index: -1;
  top: 5px;
  left: 3px;
}
.responsive_certificates_block {
    width: 90%;
    padding: 0 20px;
}
.responsive_certificates_block img {
  margin: 0 auto;
}

.contacts_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 222px;
    background-image: url('../img/contacts.png');
}
h2.contacts_block-head {
    color: rgb(255, 255, 255);
}
.contacts_block-body {
    display: flex;
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.adress {
    font-size: 18px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
}
.contacts_block-btn {
    font-size: 16px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    border: 1px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s;
}
.contacts_block-btn:hover {
  background-color: #fff;
  color: rgb(100, 196, 199);
  transition: 0.2s;
}
.contacts_block-tel a {
    font-size: 18px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-decoration: none;
}
.to-top {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  transition: 0.2s;
}

.to-top img {
  height: 50px;
  transform: rotate(-90deg);
}
.to-top:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  background-color: #silver;
  opacity: 0.5;
  transform: scale(1.1);
  transition: 0.2s;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 950px) {

}

@media (max-width: 875px) {
  .how_work_block-item:not(:last-child)::after {
    display: none;
  }
  .how_work_block-item {
    margin: 10px auto;
  }
  .header_top-menu {
    margin: 10px auto;
  }
  .header_top-menu .menu {
    justify-content: center;
  }
  .header_top-menu .menu li {
    margin: 5px auto;
  }
  .header_top-info {
    align-items: center;
    margin-bottom: 10px;
  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .contacts_block-body {
    flex-direction: column;

  }
  .contacts_block-btn {
    margin: 10px auto;
  }

}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .problem_block-ul {
    margin-left: 40px!important;
  }

}
